.buttonPrimary {
  background-color: var(--cbutton-bg);
  border: 3px solid var(--cbutton-border);
  padding: 0.5rem 2.5rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-family: "Myriad Bold", sans-serif;
  font-weight: bold;
  color: var(--cbutton-text);
  cursor: pointer;
  height: auto;
}
.buttonPrimary:hover {
  background-color: var(--cbutton-hover);
}

/* SUBTYPES BUTTON PRIMARY */

.buttonSearch {
  margin-left: 0.5rem;
}

.buttonLens {
  margin-left: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  fill: white;
  display: none;
}

.buttonLens svg {
  display: block;
}

@media (max-width: 768px) {
  .buttonLens {
    display: block;
  }
  .buttonSearch {
    display: none;
  }
}
