.burguer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.burguer {
  cursor: pointer;
}

.burguer__bar1,
.burguer__bar2,
.burguer__bar3 {
  width: 3.5rem;
  height: 0.4rem;
  background-color: var(--c-icon-burguer);
  margin: 0.75rem 0;
  transition: 0.4s;
  border-radius: 5px;
}

.activeMenu.burguer__bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.8rem, 0.8rem);
  transform: rotate(-45deg) translate(-0.8rem, 0.8rem);
}

.activeMenu.burguer__bar2 {
  opacity: 0;
}

.activeMenu.burguer__bar3 {
  -webkit-transform: rotate(45deg) translate(-0.8rem, -0.8rem);
  transform: rotate(45deg) translate(-0.8rem, -0.8rem);
}

@media (max-width: 768px) {
  .burguer__container {
    display: flex;
  }
}
