.menuDesktop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuDesktop__nav {
  display: flex;
  width: 100%;
}

.menuDesktop__item {
  width: 100%;
}

/* VERSION MENU MOBILE */

.menuMobil {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 5.3rem;
  background-color: var(--cMenuMobil-bg);
  min-height: calc(100vh - 7rem);
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 2;
}

.menuMobil__nav {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.menuMobil__container {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 2.5rem 2rem;
  background-color: var(--cMenuMobil-list);
  border-bottom: 1px solid var(--cMenuMobil-top);
}

.menuMobil__container p {
  margin: 0;
  font-size: 2rem;
}

.menuMobil__title {
  color: var(--cMenuMobil-title);
}

.menuMobil__list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.menuMobil__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: left;
  background-color: var(--cMenuMobil-item);
  padding: 1rem 0.5rem 1rem 3rem;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid var(--cMenuMobil-border);
}

.menuMobil__item--selected {
  background-color: var(--cMenuMobil-selected);
}

.menuMobil__text {
  margin: 0;
  margin-left: 1rem;
  margin-bottom: 5px;
  height: 20px;
  font-size: 1.8rem;
}

.menuMobil__click {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.menuMobil__check {
  fill: var(--cMenuMobil-check);
}
.menuMobil__nocheck {
  fill: var(--cMenuMobil-nocheck);
}

/* OCULTAR / MOSTRAR CADA UNO */

@media (max-width: 768px) {
  .menuDesktop {
    display: none;
  }
  .menuMobil {
    display: flex;
  }
}
