.modal {
  padding: 0rem 0rem;
  background-color: var(--cModal-bg-ext);
  backdrop-filter: blur(1px);
  position: fixed;
  bottom: 0;
  top: 8.3rem;
  left: 0;
  right: 0;
}

.modal__body {
  background-color: var(--cModal-bg-int);
  max-width: 50rem;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 95px);
}
