.oneResult {
  display: flex;
  height: 75px;
  background-color: var(--cModalIten-gb);
  border-bottom: 1px solid var(--white);
}

.oneResult:hover {
  background-color: var(--cModalIten-gb-hover);
  cursor: pointer;
}

.oneResult__img {
  width: 50px;
  min-width: 50px;
  display: flex;
  justify-content: center;
}

.oneResult__url {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.oneResult__body {
  margin: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-height: 6rem;
}

.oneResult__title {
  color: var(--cModalIten-title);
  margin: 0;
}

.oneResult__description {
  color: var(--cModalIten-desc);
  margin: 0;
  max-height: 2.2rem;
  overflow-y: hidden;
}

.oneResult__line {
  width: 100%;
}
/* UN RESULTADO DEL SEARCH */
/* Item seleccionado */
.selected {
  background-color: var(--cModalIten-gb-hover);
}
