.searchForm {
  width: 100%;
  background-color: var(--cSearch-bg);
  padding: 0.5rem;
}

.searchBody {
  display: flex;
}

.searchForm__input {
  margin-right: 0.5rem;
  width: 100%;
  max-width: 41rem;
}
