.togle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.togle__icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem;
  border-radius: 2rem;
  width: 3.7rem;
  background: var(--cTogle-bg);
  cursor: pointer;
}

.togle__icon:hover {
  background: var(--cTogle-bg-hover);
}

.togle__subicon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--cTogle-circle);
  transition: all ease 0.5s;
}

.iconMove {
  transform: translateX(1.8rem);
}
