.eventsOfDay {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  background-color: var(--cEvent-bg);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
.eventsOfDay__year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  min-width: 60px;
  background-color: var(--cEvent-bgYear);
  margin: 1rem;
  border-radius: 5px;
  box-shadow: var(--cEvent-sd);
}
.eventsOfDay__numYear {
  color: var(--cEvent-yearText);
  height: 20px;
  font-weight: bold;
  font-family: "Myriad Pro Bold";
  font-size: 1.5rem;
}
.eventsOfDay__body {
  padding: 0.5rem 1rem;
  border-left: 1px solid var(--cEvent-div);
  height: 100%;
  width: 100%;
  background-color: var(--cEvent-bgSubBody);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.eventsOfDay__text {
  color: var(--cEvent-text);
}
.eventsOfDay__list {
  display: flex;
  flex-wrap: wrap;
}
.eventsOfDay__link {
  background-color: var(--cEvent-bgLink);
  margin: 0.5rem;
  padding: 0 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}
.eventsOfDay__link:hover {
  background-color: var(--cEvent-bgLink-hover);
}

.eventsOfDay__textLink {
  color: var(--cEvent-textLink);
}
