.eventsOfDay__layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
}

@media (max-width: 1060px) {
  .eventsOfDay__layout {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media (max-width: 768px) {
  .eventsOfDay__layout {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media (max-width: 450px) {
  .eventsOfDay__layout {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
