.eventsOfDay__layout {
  width: 100%;
  margin: 0 auto;
  display: column;
  columns: 5;
  gap: 1em;
}

.eventsOfDay__layout > * {
  break-inside: avoid;
  margin-bottom: 1em;
}

@media (max-width: 1700px) {
  .eventsOfDay__layout{
    columns: 4;
  }
}

@media (max-width: 1200px) {
  .eventsOfDay__layout{
    columns: 3;
  }
}

@media (max-width: 850px) {
  .eventsOfDay__layout{
    columns: 2;
  }
}

@media (max-width: 600px) {
  .eventsOfDay__layout{
    columns: 1;
  }
}

@supports (grid-template-rows: mansonry) {
  .eventsOfDay__layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,  1fr);
    grid-template-rows: mansonry;
  }
  .eventsOfDay__layout > * {
    margin-bottom: 0em;
  }
}



