.buttonPrimary {
  background-color: var(--cbutton-bg);
  border: 3px solid var(--cbutton-border);
  padding: 0.5rem 2.5rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-family: "Myriad Bold", sans-serif;
  font-weight: bold;
  color: var(--cbutton-text);
  cursor: pointer;
  height: auto;
}
.buttonPrimary:hover {
  background-color: var(--cbutton-hover);
}

/* SUBTYPES BUTTON PRIMARY */

.buttonSecond {
  margin: 1.5rem auto 0;
  width: fit-content;
  background-color: var(--cbutton2-bg);
  border: 1px solid var(--cbutton2-border);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-family: "Myriad Bold", sans-serif;
  font-weight: bold;
  color: var(--cbutton2-text);
  cursor: pointer;
}

.buttonSecond:hover {
  background-color: var(--cbutton2-hover);
}

.buttonSearch {
  margin-left: 0.5rem;
}

.buttonLens {
  margin-left: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: none;
}

@media (max-width: 768px) {
  .buttonSearch {
    display: none;
  }
  .buttonLens {
    display: block;
  }
}
