.category__header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* .category__title {
  
} */

.category__subTitle {
  margin-left: 1rem;
}

.category__see {
  font-family: "Myriad Pro Bold";
  margin: 0;
}

.category__see:hover {
  color: var(--cCategory-link-hover);
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
