.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cModal-bg-ext);
  backdrop-filter: blur(3px);
  z-index: 4;

  --height-items: 5rem;
}
.modal__items{
  
  height: var(--height-items);
}

.modal__body{
  width: 100%;
  height: calc(100% - var(--height-items));
  max-height: 100%;
  padding: 2rem;
}

.modal__picture{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-height: 100%;

}

.modal__img{
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  cursor: crosshair;
}

@media (max-width: 768px) {
  .modal__body{
    padding: 0rem;
  }
}
