:root {
  /* COLORS */
  --blueDegr: linear-gradient(
    180deg,
    rgba(68, 82, 104, 0) 0%,
    rgba(68, 82, 104, 1) 85%,
    rgba(68, 82, 104, 1) 100%
  );
  --blue15Opa: rgba(45, 77, 87, 0.5);
  --blue15: #304158;
  --blue14: #0077c721;
  --blue13: #282d38;
  --blue11: #1a212a;
  --blue11Opa: rgba(16, 32, 54, 0.2);
  --blue10: #445268;
  /* -------------- */
  --blue9Degr: linear-gradient(
    180deg,
    rgba(68, 82, 104, 0) 0%,
    rgba(3, 4, 94, 0.75) 85%,
    rgba(3, 4, 94, 0.75) 100%
  );
  --blue9Opa: rgba(3, 4, 94, 0.85);
  --blue9NOTpa: #32337c;
  --blue9: #03045e;
  --blue8: #023e8a;
  --blue7: #0077b6;

  /* --actionBlue: #0096c7; */
  --blue5: #00b4d8;
  --blue4: #48cae4;
  --blue3: #90e0ef;
  --blue2: #ade8f4;
  --blue1-1: #d8f9ff;
  --blue1: #f0fcff;
  --white: #ffffff;
  --whiteOpa: rgba(255, 255, 255, 0.2);
  /* --- */
  --box-shadow: var(--light, var(--box-shadow-white))
    var(--dark, var(--box-shadow-black));
  --box-shadow-white: 1px 1px 5px #aaaedd;
  --box-shadow-black: 1px 1px 5px #777880;

  /* EVENTS DEGRADATE */
  --cDeg-Dark: linear-gradient(135deg,  rgba(67,82,103,1) 0%,rgba(67,82,103,1) 50%,rgba(255,255,255,0.25) 100%);
  --cDeg-Light: linear-gradient(135deg,  rgba(51,51,125,1) 0%,rgba(51,51,125,1) 50%,rgba(0, 0, 0, 0.25) 100%);

  /* ACTION */

  --action: #e48c19;
  --actionLight: #f5bc72;
  --actionOPA: rgba(228, 140, 25,0.75);
  --actionLightOPA: rgba(245, 188, 114,0.75);
  /* CHECK */
  --check: #00ffff;

  /* primary */
  --c-primary: var(--light, var(--blue8)) var(--dark, var(--blue3));
  --c-second: var(--light, var(--blue7)) var(--dark, var(--white));
  --c-background: var(--light, var(--white)) var(--dark, var(--blue11));

  /* ELEMENTS */
  --c-a: var(--light, var(--blue9)) var(--dark, var(--white));
  --c-H2: var(--light, var(--blue9)) var(--dark, var(--white));
  --c-H1: var(--light, var(--blue9)) var(--dark, var(--white));
  --c-span: var(--light, var(--blue9)) var(--dark, var(--white));
  --c-H3: var(--light, var(--blue9)) var(--dark, var(--white));
  --c-p: var(--light, var(--blue9)) var(--dark, var(--white));
  --c-hr: var(--light, var(--blue9)) var(--dark, var(--white));
  --c-li: var(--light, var(--blue9)) var(--dark, var(--white));

  /* LOGO */
  --cLogo-gradient1: var(--light, var(--action)) var(--dark, var(--action));
  --cLogo-gradient2: var(--light, var(--actionLight))
    var(--dark, var(--actionLight));
  --cLogo-text1: var(--light, var(--action)) var(--dark, var(--action));
  --cLogo-text2: var(--light, var(--actionLight))
    var(--dark, var(--actionLight));

  /* TOGLE */
  --cTogle-bg: var(--light, var(--blue9)) var(--dark, var(--white));
  --cTogle-circle-hover: var(--light, var(--actionLight))
    var(--dark, var(--actionLight));
  --cTogle-circle: var(--light, var(--action)) var(--dark, var(--action));

  /* LANGUAGE */
  --cLang-bg: var(--light, var(--blue9)) var(--dark, var(--white));
  --cLang-text-hover: var(--light, var(--white)) var(--dark, var(--action));
  --cLang-text: var(--light, var(--white)) var(--dark, var(--blue10));
  --cLang-option-bg: var(--light, var(--blue9)) var(--dark, var(--white));

  /* MENUBURGUER */
  --c-icon-burguer: var(--light, var(--blue9)) var(--dark, var(--white));

  /* SEARCHFORM */
  --cSearch-bg: var(--light, var(--blue9)) var(--dark, var(--blue10));
  --cSearch-svg: var(--light, var(--blue8)) var(--dark, var(--white));
  --cSearch-close: var(--light, var(--blue9)) var(--dark, var(--blue13));
  --cSearch-border: var(--light, var(--blue9)) var(--dark, var(--blue10));
  --cSearch-hover-border: var(--light, var(--actionLight)) var(--dark, var(--actionLight));

  /* BUTTON PRIMARY */
  --cbutton-bg: var(--light, var(--action)) var(--dark, var(--action));
  --cbutton-hover: var(--light, var(--actionLight))
    var(--dark, var(--actionLight));
  --cbutton-border: var(--light, var(--blue9)) var(--dark, var(--blue10));
  --cbutton-text: var(--light, var(--white)) var(--dark, var(--white));

  /* BUTTON SECOND */
  --cbutton2-bg: var(--light, var(--white)) var(--dark, var(--white));
  --cbutton2-hover: var(--light, var(--blue3)) var(--dark, var(--blue1));
  --cbutton2-border: var(--light, var(--blue8)) var(--dark, var(--blue10));
  --cbutton2-text: var(--light, var(--blue8)) var(--dark, var(--blue10));

  /* BUTTON BACK AND SHARE*/
  --cbuttonBack: var(--light, var(--blue9)) var(--dark, var(--blue10));
  --cbuttonBack-hover: var(--light, var(--action)) var(--dark, var(--action));
  --cbuttonShare: var(--light, var(--actionLight)) var(--dark, var(--actionLight));
  --cbuttonShare-hover: var(--light, var(--action)) var(--dark, var(--action));

  /* INPUT */
  --cInput-bg: var(--light, var(--white)) var(--dark, var(--white));
  --cInput-border: var(--light, var(--blue8)) var(--dark, var(--blue10));
  --cInput-text: var(--light, var(--blue8)) var(--dark, var(--blue11));

  /* MODAL */
  --cModal-bg-int: var(--light, var(--blue1)) var(--dark, var(--blue13));
  --cModal-bg-ext: var(--light, var(--whiteOpa)) var(--dark, var(--blue11Opa));

  /* MODAL ITEM */
  --cModalIten-gb-hover: var(--light, var(--blue3)) var(--dark, var(--blue10));
  --cModalIten-title: var(--light, var(--blue8)) var(--dark, var(--white));
  --cModalIten-desc: var(--light, var(--action)) var(--dark, var(--white));
  --cModalIten-border: var(--light, var(--blue8)) var(--dark, var(--white));
  --cMotalIten-termSearch: var(--light, var(--actionLight))
    var(--dark, var(--actionLight));

  /* MENU MOBIL */
  --cMenuMobil-bg: var(--light, var(--blue1)) var(--dark, var(--blue13));
  --cMenuMobil-list: var(--light, var(--blue9)) var(--dark, var(--blue10));
  --cMenuMobil-arrow: var(--light, var(--white)) var(--dark, var(--white));
  --cMenuMobil-title: var(--light, var(--white)) var(--dark, var(--white));
  --cMenuMobil-item: var(--light, var(--blue1)) var(--dark, var(--blue13));
  --cMenuMobil-selected: var(--light, var(--blue1-1)) var(--dark, var(--blue14));
  --cMenuMobil-border: var(--light, var(--blue3)) var(--dark, var(--blue10));
  --cMenuMobil-check: var(--light, var(--actionLight))
    var(--dark, var(--actionLight));
  --cMenuMobil-nocheck: var(--light, var(--blue9)) var(--dark, var(--white));
  --cMenuMobil-top: var(--light, var(--blue1-1)) var(--dark, var(--blue13));

  /* CARD TRENDINGS */
  --cCardTrend-title: var(--light, var(--white)) var(--dark, var(--white));
  --cCardTrend-desc: var(--light, var(--white)) var(--dark, var(--white));
  --cCardTrend-bg: var(--light, var(--blue15Opa)) var(--dark, var(--blue15Opa));
  --cCardTrend-body: var(--light, var(--blue9Opa)) var(--dark, var(--blue10));
  --cCardTrend-degr: var(--light, var(--blue9Degr)) var(--dark, var(--blueDegr));
  --cCardTrend-header: var(--light, var(--white)) var(--dark, var(--white));
  --cCardTrend-scroll: var(--light, var(--blue9Opa)) var(--dark, var(--blue10));
  --cCardTrend-btnSvg: var(--light, var(--action)) var(--dark, var(--action));
  --cCardTrend-btnBg: var(--light, var(--white)) var(--dark, var(--white));
  --cCardTrend-star: var(--light, var(--actionLight))
    var(--dark, var(--actionLight));

  /* CATEGORY */
  --cCategory-link-hover: var(--light, var(--action)) var(--dark, var(--action));

  /* EVETNS */
  --cEvent-bg: var(--light, var(--blue9)) var(--dark, var(--blue15));
  --cEvent-bgYear: var(--light, var(--white)) var(--dark, var(--white));
  --cEvent-sd: var(--light, var(--box-shadow)) var(--dark, var(--box-shadow));
  --cEvent-yearText: var(--light, var(--blue9)) var(--dark, var(--blue10));
  --cEvent-bgLink: var(--light, var(--actionOPA)) var(--dark, var(--actionOPA));
  --cEvent-textLink: var(--light, var(--white)) var(--dark, var(--white));
  --cEvent-text: var(--light, var(--white)) var(--dark, var(--white));
  --cEvent-bgLink-hover: var(--light, var(--actionLightOPA))
    var(--dark, var(--actionLightOPA));
  --cEvent-div: var(--light, var(--white)) var(--dark, var(--white));
  --cEvent-bgSubBody: var(--light, var(--blue9NOTpa)) var(--dark, var(--blue10));
  --cEvent-over: var(--light, var(--cDeg-Light)) var(--dark, var(--cDeg-Dark));
  
  /* PAGE BACK */
  --cPageBack-bg: var(--light, var(--blue9)) var(--dark, var(--blue10));
  --cPageBack-sep: var(--light, var(--white)) var(--dark, var(--white));
  --cPageBack-title: var(--light, var(--white)) var(--dark, var(--white));
}
/* TITLES */
/*   --c-h1: var(--text-primary);
  --c-h2: var(--text-primary);
  --c-p: var(--text-primary);
  --c-small: var(--text-secundary); */
