:root {
  /* COLORS */
  --blue13: #343e55;
  --blue12: #334f79;
  --blue11: rgb(16, 32, 54);
  --blue11Opa: rgba(16, 32, 54, 0.2);
  --blue10: #1a2d49;
  --blue9: #03045e;
  --blue8: #023e8a;
  --blue7: #0077b6;
  --blue6: #0096c7;
  --blue5: #00b4d8;
  --blue4: #48cae4;
  --blue3: #90e0ef;
  --blue2: #ade8f4;
  /* --blue1: #caf0f8; */
  --blue1-1: #d8f9ff;
  --blue1: #f0fcff;
  --white: #ffffff;
  --whiteOpa: rgba(255, 255, 255, 0.2);

  /* CHECK */
  --check: #00ffff;

  /* primary */
  --c-primary: var(--light, var(--blue8)) var(--dark, var(--blue3));
  --c-second: var(--light, var(--blue7)) var(--dark, var(--white));
  --c-background: var(--light, var(--white)) var(--dark, var(--blue11));

  /* H3 */
  --c-H3: var(--light, var(--blue9)) var(--dark, var(--white));
  --c-p: var(--light, var(--blue9)) var(--dark, var(--white));
  --c-hr: var(--light, var(--blue9)) var(--dark, var(--white));
  --c-li: var(--light, var(--blue9)) var(--dark, var(--white));

  /* LOGO */
  --cLogo-gradient1: var(--light, var(--blue9)) var(--dark, var(--blue12));
  --cLogo-gradient2: var(--light, var(--blue6)) var(--dark, var(--white));
  --cLogo-text1: var(--light, var(--blue8)) var(--dark, var(--blue12));
  --cLogo-text2: var(--light, var(--blue7)) var(--dark, var(--white));

  /* TOGLE */
  --cTogle-bg: var(--light, var(--blue9)) var(--dark, var(--white));
  --cTogle-circle-hover: var(--light, var(--blue5)) var(--dark, var(--blue7));
  --cTogle-circle: var(--light, var(--blue6)) var(--dark, var(--blue12));

  /* LANGUAGE */
  --cLang-bg: var(--light, var(--blue9)) var(--dark, var(--white));
  --cLang-text-hover: var(--light, var(--white)) var(--dark, var(--blue12));
  --cLang-text: var(--light, var(--white)) var(--dark, var(--blue12));
  --cLang-option-bg: var(--light, var(--blue10)) var(--dark, var(--white));

  /* MENUBURGUER */
  --c-icon-burguer: var(--light, var(--blue9)) var(--dark, var(--white));

  /* SEARCHFORM */
  --cSearch-bg: var(--light, var(--blue9)) var(--dark, var(--blue10));
  --cSearch-svg: var(--light, var(--blue8)) var(--dark, var(--white));
  --cSearch-close: var(--light, var(--blue9)) var(--dark, var(--blue13));

  /* BUTTON PRIMARY */
  --cbutton-bg: var(--light, var(--blue6)) var(--dark, var(--blue12));
  --cbutton-hover: var(--light, var(--blue5)) var(--dark, var(--blue7));
  --cbutton-border: var(--light, var(--blue8)) var(--dark, var(--blue10));
  --cbutton-text: var(--light, var(--white)) var(--dark, var(--white));

  /* BUTTON SECOND */
  --cbutton2-bg: var(--light, var(--white)) var(--dark, var(--white));
  --cbutton2-hover: var(--light, var(--blue3)) var(--dark, var(--blue1));
  --cbutton2-border: var(--light, var(--blue9)) var(--dark, var(--blue12));
  --cbutton2-text: var(--light, var(--blue9)) var(--dark, var(--blue12));

  /* INPUT */
  --cInput-bg: var(--light, var(--white)) var(--dark, var(--white));
  --cInput-border: var(--light, var(--blue8)) var(--dark, var(--blue10));
  --cInput-text: var(--light, var(--blue8)) var(--dark, var(--blue11));

  /* MODAL */
  --cModal-bg-int: var(--light, var(--blue1)) var(--dark, var(--blue13));
  --cModal-bg-ext: var(--light, var(--whiteOpa)) var(--dark, var(--blue11Opa));

  /* MODAL ITEM */
  --cModalIten-gb-hover: var(--light, var(--blue3)) var(--dark, var(--blue12));
  --cModalIten-title: var(--light, var(--blue8)) var(--dark, var(--white));
  --cModalIten-desc: var(--light, var(--blue12)) var(--dark, var(--white));
  --cModalIten-border: var(--light, var(--blue12)) var(--dark, var(--white));

  /* MENU MOBIL */
  --cMenuMobil-bg: var(--light, var(--blue1)) var(--dark, var(--blue13));
  --cMenuMobil-list: var(--light, var(--blue9)) var(--dark, var(--blue10));
  --cMenuMobil-arrow: var(--light, var(--white)) var(--dark, var(--white));
  --cMenuMobil-title: var(--light, var(--white)) var(--dark, var(--white));
  --cMenuMobil-item: var(--light, var(--blue1)) var(--dark, var(--blue13));
  --cMenuMobil-selected: var(--light, var(--blue1-1)) var(--dark, var(--blue12));
  --cMenuMobil-border: var(--light, var(--blue3)) var(--dark, var(--blue10));
  --cMenuMobil-check: var(--light, var(--check)) var(--dark, var(--check));
  --cMenuMobil-nocheck: var(--light, var(--blue9)) var(--dark, var(--white));
  --cMenuMobil-top: var(--light, var(--blue1-1)) var(--dark, var(--blue13));

  /* TITLES */
  /*   --c-h1: var(--text-primary);
  --c-h2: var(--text-primary);
  --c-p: var(--text-primary);
  --c-small: var(--text-secundary); */
}
