:root {
  /* ESCALA */
  --fs-base: 62.5%;

  /* TAMAÑOS */
  --fs-higher: 3.8rem;
  --fs-high: 3.3rem;
  --fs-midhigh: 3rem;
  --fs-medium: 2rem;
  --fs-small: 1.5rem;

  /* HEADINGS */
  /*     --fs-h1: var(--fs-higher);
  --fs-h2: var(--fs-high);
  --fs-cite: var(--fs-medium); */
  --fs-input: var(--fs-medium);
  --fs-a: var(--fs-small);
  --fs-h2: var(--fs-midhigh);
  --fs-span: var(--fs-midhigh);
  --fs-h3: var(--fs-medium);
  --fs-p: var(--fs-small);
  --fs-li: var(--fs-small);

  /* PESOS */
  --bold: 700;
  --semiBold: 600;
  --medium: 400;

  /* Altura de linea */
  --line-height: 1.5;

  /* LAYOUT */
  --Layout-column: 220px;
  --Layout-rows: 300px;
  --Layout-gap: 1rem;
}
