.searchForm {
  width: 100%;
  background-color: var(--cSearch-bg);
}

.searchBody {
  display: flex;
  justify-content: left;
}

.searchForm__myImput{
  display: flex;
  max-width: 41rem;
  width: 100%;
}

.searchForm__input {
  width: 100%;
  max-width: 60rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  border-top: 3px solid var(--cSearch-border);
  border-bottom: 3px solid var(--cSearch-border);
  border-left: 3px solid var(--cSearch-border);
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0;
}



.labelForm {
  width: 100%;
  max-width: 41rem;
  display: flex;
}

.searchClose {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: auto;
  padding: 0 1rem;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  cursor: pointer;
  border-top: 3px solid var(--cSearch-border);
  border-bottom: 3px solid var(--cSearch-border);
  border-right: 3px solid var(--cSearch-border);
}

.searchForm__myImput:hover .searchForm__input{
  border-top: 3px solid var(--cSearch-hover-border);
  border-bottom: 3px solid var(--cSearch-hover-border);
  border-left: 3px solid var(--cSearch-hover-border);
}

.searchForm__myImput:hover .searchClose {
  border-top: 3px solid var(--cSearch-hover-border);
  border-bottom: 3px solid var(--cSearch-hover-border);
  border-right: 3px solid var(--cSearch-hover-border);
}
