.searchForm {
  width: 100%;
  background-color: var(--cSearch-bg);
}

.searchBody {
  display: flex;
}

.searchForm__input {
  width: 100%;
  max-width: 41rem;
}

.labelForm {
  width: 100%;
  max-width: 41rem;
  display: flex;
}

.searchClose {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: auto;
  padding: 0 1rem;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin: 3px 3px 3px 0;
  cursor: pointer;
}
