.modal {
  padding: 0;
  background-color: var(--cModal-bg-ext);
  backdrop-filter: blur(3px);
  position: fixed;
  bottom: 0;
  top: 14.6rem;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal__body {
  background-color: var(--cModal-bg-int);
  max-width: 55rem;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* max-height: calc(100vh - 18rem);  */ /* Header + espacio de abajo del movil */
  height: 100%;
}

@media (max-width: 768px) {
  .modal {
    top: 11.2rem;
  }
}
