html,
body {
  background-color: var(--c-background);
  cursor: default;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.quickpedia__body {
  padding: 2rem;
}

.quickpedia__header {
  padding: 1rem 2rem;
}

@media (max-width: 768px) {
  .quickpedia__body {
    padding: 1rem;
  }
  .quickpedia__header {
    padding: 0.5rem 1rem;
  }
}
